In [4]:
import pandas as pd

In [5]:
df_peserta = pd.read_csv("../data/raw/peserta.csv", index_col=0)
df_fktp = pd.read_csv("../data/raw/fktp.csv", index_col=0)
df_fkrtl = pd.read_csv("../data/raw/fkrtl.csv", index_col=0)

C:\Users\frend\AppData\Local\Temp\ipykernel_11556\2039425900.py:2: DtypeWarning: Columns (4,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fktp = pd.read_csv("../data/raw/fktp.csv", index_col=0)
C:\Users\frend\AppData\Local\Temp\ipykernel_11556\2039425900.py:3: DtypeWarning: Columns (43,46,49,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df_fkrtl = pd.read_csv("../data/raw/fkrtl.csv", index_col=0)

# Clean Peserta DataFrame

In [6]:
df_peserta.head()

,PSTV01,PSTV02,PSTV03,PSTV04,PSTV05,PSTV06,PSTV07,PSTV08,PSTV09,PSTV10,PSTV11,PSTV12,PSTV13,PSTV14,PSTV15,PSTV16,PSTV17,PSTV18
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2021,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2021,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2021,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2021,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2021,AKTIF,NaN

In [7]:
df_peserta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PSTV01  143496 non-null  int64
 1   PSTV02  143496 non-null  int64
 2   PSTV03  143496 non-null  object
 3   PSTV04  143496 non-null  object
 4   PSTV05  143496 non-null  object
 5   PSTV06  143496 non-null  object
 6   PSTV07  143496 non-null  object
 7   PSTV08  143496 non-null  object
 8   PSTV09  143496 non-null  object
 9   PSTV10  143496 non-null  object
 10  PSTV11  143496 non-null  object
 11  PSTV12  143496 non-null  object
 12  PSTV13  143496 non-null  object
 13  PSTV14  143496 non-null  object
 14  PSTV15  143496 non-null  float64
 15  PSTV16  143496 non-null  int64
 16  PSTV17  143496 non-null  object
 17  PSTV18  17679 non-null   float64
dtypes: float64(2), int64(3), object(13)
memory usage: 20.8+ MB

In [8]:
new_column_name = [
    'no_peserta',
    'no_keluarga',
    'tanggal_lahir',
    'hubungan_keluarga',
    'gender',
    'status_perkawinan',
    'kelas_rawat',
    'segmen_peserta',
    'provinsi_tempat_tinggal',
    'kab_kota_tempat_tinggal',
    'kepemilikan_faskes',
    'jenis_faskes',
    'provinsi_faskes',
    'kab_kota_faskes',
    'bobot',
    'tahun_sampel',
    'status_peserta',
    'tahun_meninggal',
]

In [9]:
df_peserta.columns = new_column_name
df_peserta.head()

,no_peserta,no_keluarga,tanggal_lahir,hubungan_keluarga,gender,status_perkawinan,kelas_rawat,segmen_peserta,provinsi_tempat_tinggal,kab_kota_tempat_tinggal,kepemilikan_faskes,jenis_faskes,provinsi_faskes,kab_kota_faskes,bobot,tahun_sampel,status_peserta,tahun_meninggal
0,66897393,66897393,1955-12-31,PESERTA,LAKI-LAKI,CERAI,KELAS II,PPU,ACEH,PIDIE,SWASTA,KLINIK PRATAMA,ACEH,PIDIE,11.318326,2021,AKTIF,NaN
1,36947751,36947751,1957-01-01,PESERTA,LAKI-LAKI,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA BANDA ACEH,SWASTA,DOKTER UMUM,ACEH,KOTA BANDA ACEH,1.850896,2021,AKTIF,NaN
2,58468881,58468881,1959-06-15,PESERTA,PEREMPUAN,KAWIN,KELAS I,BUKAN PEKERJA,ACEH,KOTA LANGSA,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LANGSA,7.597364,2021,AKTIF,NaN
3,67318251,67318251,1977-11-11,PESERTA,LAKI-LAKI,KAWIN,KELAS II,PPU,ACEH,KOTA LHOKSEUMAWE,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,KOTA LHOKSEUMAWE,6.003162,2021,AKTIF,NaN
4,80155656,80155656,1961-12-31,PESERTA,PEREMPUAN,CERAI,KELAS I,PPU,ACEH,BIREUEN,PEMERINTAH KABUPATEN/KOTA,PUSKESMAS,ACEH,BIREUEN,11.383931,2021,AKTIF,NaN

In [10]:
df_peserta['tanggal_lahir'] = pd.to_datetime(df_peserta['tanggal_lahir'])

In [11]:
df_peserta['tahun_meninggal'] = df_peserta['tahun_meninggal'].astype('Int64')

In [12]:
df_peserta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   no_peserta               143496 non-null  int64
 1   no_keluarga              143496 non-null  int64
 2   tanggal_lahir            143496 non-null  datetime64[ns]
 3   hubungan_keluarga        143496 non-null  object
 4   gender                   143496 non-null  object
 5   status_perkawinan        143496 non-null  object
 6   kelas_rawat              143496 non-null  object
 7   segmen_peserta           143496 non-null  object
 8   provinsi_tempat_tinggal  143496 non-null  object
 9   kab_kota_tempat_tinggal  143496 non-null  object
 10  kepemilikan_faskes       143496 non-null  object
 11  jenis_faskes             143496 non-null  object
 12  provinsi_faskes          143496 non-null  object
 13  kab_kota_faskes          143496 non-null  object
 14  bobot                    143496 non-null  float64
 15  tahun_sampel             143496 non-null  int64
 16  status_peserta           143496 non-null  object
 17  tahun_meninggal          17679 non-null   Int64
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(3), object(12)
memory usage: 20.9+ MB

In [13]:
df_peserta['tahun_meninggal'] = df_peserta['tahun_meninggal'].fillna(0)
df_peserta.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143496 entries, 0 to 143495
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   no_peserta               143496 non-null  int64
 1   no_keluarga              143496 non-null  int64
 2   tanggal_lahir            143496 non-null  datetime64[ns]
 3   hubungan_keluarga        143496 non-null  object
 4   gender                   143496 non-null  object
 5   status_perkawinan        143496 non-null  object
 6   kelas_rawat              143496 non-null  object
 7   segmen_peserta           143496 non-null  object
 8   provinsi_tempat_tinggal  143496 non-null  object
 9   kab_kota_tempat_tinggal  143496 non-null  object
 10  kepemilikan_faskes       143496 non-null  object
 11  jenis_faskes             143496 non-null  object
 12  provinsi_faskes          143496 non-null  object
 13  kab_kota_faskes          143496 non-null  object
 14  bobot                    143496 non-null  float64
 15  tahun_sampel             143496 non-null  int64
 16  status_peserta           143496 non-null  object
 17  tahun_meninggal          143496 non-null  Int64
dtypes: Int64(1), datetime64[ns](1), float64(1), int64(3), object(12)
memory usage: 20.9+ MB

In [15]:
df_peserta.to_csv('../data/cleaned/peserta.csv',index=False)

# Clean FKTP DataFrame

In [16]:
df_fktp.head()

,PSTV01,PSTV02,PSTV15,FKP02,FKP03,FKP04,FKP05,FKP06,FKP07,FKP08,...,FKP14A,FKP15,FKP15A,FKP16,FKP17,FKP18,FKP19,FKP20,FKP21,FKP22
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,31,3174,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,17,1702,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,31,3175,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,32,3276,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,52,5272,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2

In [17]:
df_fktp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   PSTV01  1188324 non-null  int64
 1   PSTV02  1188324 non-null  int64
 2   PSTV15  1188324 non-null  float64
 3   FKP02   1188324 non-null  object
 4   FKP03   1188324 non-null  object
 5   FKP04   1188324 non-null  object
 6   FKP05   1188324 non-null  int64
 7   FKP06   1188324 non-null  int64
 8   FKP07   1188324 non-null  int64
 9   FKP08   1188324 non-null  int64
 10  FKP09   1188324 non-null  int64
 11  FKP10   1188324 non-null  int64
 12  FKP11   1188324 non-null  int64
 13  FKP12   1188324 non-null  int64
 14  FKP13   1188324 non-null  int64
 15  FKP14   1188324 non-null  int64
 16  FKP14A  955621 non-null   object
 17  FKP15   1188324 non-null  object
 18  FKP15A  1188324 non-null  object
 19  FKP16   1188324 non-null  int64
 20  FKP17   1188324 non-null  int64
 21  FKP18   1188324 non-null  int64
 22  FKP19   1188324 non-null  int64
 23  FKP20   1188324 non-null  int64
 24  FKP21   1188324 non-null  int64
 25  FKP22   1188324 non-null  int64
dtypes: float64(1), int64(19), object(6)
memory usage: 244.8+ MB

In [18]:
new_column_name = [
    'no_peserta',
    'no_keluarga',
    'bobot',
    'id_kunjungan_fktp',
    'tanggal_datang',
    'tanggal_pulang',
    'provinsi_fktp',
    'kab_kota_fktp',
    'kepemilikan_fktp',
    'jenis_fktp',
    'tipe_fktp',
    'tingkat_pelayanan',
    'poli_fktp',
    'segmen_peserta',
    'status_pulang_peserta',
    'kode_nama_diagnosis_ICD10',
    'kode_diagnosis_ICD10',
    'kode_diagnosis',
    'nama_diagnosis',
    'provinsi_fkrtl',
    'kab_kota_fkrtl',
    'kepemilikan_fkrtl',
    'jenis_fkrtl',
    'tipe_fkrtl',
    'poli_fkrtl',
    'jenis_kunjungan_fktp'
]

In [19]:
df_fktp.columns = new_column_name
df_fktp.head()

,no_peserta,no_keluarga,bobot,id_kunjungan_fktp,tanggal_datang,tanggal_pulang,provinsi_fktp,kab_kota_fktp,kepemilikan_fktp,jenis_fktp,...,kode_diagnosis_ICD10,kode_diagnosis,nama_diagnosis,provinsi_fkrtl,kab_kota_fkrtl,kepemilikan_fkrtl,jenis_fkrtl,tipe_fkrtl,poli_fkrtl,jenis_kunjungan_fktp
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,31,3174,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,17,1702,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,31,3175,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,32,3276,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,52,5272,3,1,...,NaN,9999,9999,98,9998,98,98,98,98,2

In [20]:
df_fktp['tanggal_datang'] = pd.to_datetime(df_fktp['tanggal_datang'])
df_fktp['tanggal_pulang'] = pd.to_datetime(df_fktp['tanggal_pulang'])
df_fktp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   no_peserta                 1188324 non-null  int64
 1   no_keluarga                1188324 non-null  int64
 2   bobot                      1188324 non-null  float64
 3   id_kunjungan_fktp          1188324 non-null  object
 4   tanggal_datang             1188324 non-null  datetime64[ns]
 5   tanggal_pulang             1188324 non-null  datetime64[ns]
 6   provinsi_fktp              1188324 non-null  int64
 7   kab_kota_fktp              1188324 non-null  int64
 8   kepemilikan_fktp           1188324 non-null  int64
 9   jenis_fktp                 1188324 non-null  int64
 10  tipe_fktp                  1188324 non-null  int64
 11  tingkat_pelayanan          1188324 non-null  int64
 12  poli_fktp                  1188324 non-null  int64
 13  segmen_peserta             1188324 non-null  int64
 14  status_pulang_peserta      1188324 non-null  int64
 15  kode_nama_diagnosis_ICD10  1188324 non-null  int64
 16  kode_diagnosis_ICD10       955621 non-null   object
 17  kode_diagnosis             1188324 non-null  object
 18  nama_diagnosis             1188324 non-null  object
 19  provinsi_fkrtl             1188324 non-null  int64
 20  kab_kota_fkrtl             1188324 non-null  int64
 21  kepemilikan_fkrtl          1188324 non-null  int64
 22  jenis_fkrtl                1188324 non-null  int64
 23  tipe_fkrtl                 1188324 non-null  int64
 24  poli_fkrtl                 1188324 non-null  int64
 25  jenis_kunjungan_fktp       1188324 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(19), object(4)
memory usage: 244.8+ MB

In [21]:
df_fktp['kode_diagnosis_ICD10'] = df_fktp['kode_diagnosis_ICD10'].fillna('999')
df_fktp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   no_peserta                 1188324 non-null  int64
 1   no_keluarga                1188324 non-null  int64
 2   bobot                      1188324 non-null  float64
 3   id_kunjungan_fktp          1188324 non-null  object
 4   tanggal_datang             1188324 non-null  datetime64[ns]
 5   tanggal_pulang             1188324 non-null  datetime64[ns]
 6   provinsi_fktp              1188324 non-null  int64
 7   kab_kota_fktp              1188324 non-null  int64
 8   kepemilikan_fktp           1188324 non-null  int64
 9   jenis_fktp                 1188324 non-null  int64
 10  tipe_fktp                  1188324 non-null  int64
 11  tingkat_pelayanan          1188324 non-null  int64
 12  poli_fktp                  1188324 non-null  int64
 13  segmen_peserta             1188324 non-null  int64
 14  status_pulang_peserta      1188324 non-null  int64
 15  kode_nama_diagnosis_ICD10  1188324 non-null  int64
 16  kode_diagnosis_ICD10       1188324 non-null  object
 17  kode_diagnosis             1188324 non-null  object
 18  nama_diagnosis             1188324 non-null  object
 19  provinsi_fkrtl             1188324 non-null  int64
 20  kab_kota_fkrtl             1188324 non-null  int64
 21  kepemilikan_fkrtl          1188324 non-null  int64
 22  jenis_fkrtl                1188324 non-null  int64
 23  tipe_fkrtl                 1188324 non-null  int64
 24  poli_fkrtl                 1188324 non-null  int64
 25  jenis_kunjungan_fktp       1188324 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(19), object(4)
memory usage: 244.8+ MB

In [22]:
df_fktp.to_csv('../data/cleaned/fktp-encoded.csv',index=False)

In [23]:
with pd.io.stata.StataReader('../data/stata/DM2021_fktpkapitasi.dta') as reader:
    val_labels = reader.value_labels()
    df_fktp_decoded = reader.read(convert_categoricals=False)
    lbllist = reader._lbllist

def fix_duplicate_labels(label_dict):
    seen = {}
    fixed = {}
    for code, label in label_dict.items():
        if label in seen:
            seen[label] += 1
            fixed[code] = f"{label}_{seen[label]}"
        else:
            seen[label] = 0
            fixed[code] = label
    return fixed

fixed_labels = {k: fix_duplicate_labels(v) for k, v in val_labels.items()}

for col_idx, label_name in enumerate(lbllist):
    if label_name and label_name in fixed_labels:
        col = df_fktp_decoded.columns[col_idx]
        df_fktp_decoded[col] = df_fktp_decoded[col].map(fixed_labels[label_name]).astype('category')

df_fktp_decoded.head()

,PSTV01,PSTV02,PSTV15,FKP02,FKP03,FKP04,FKP05,FKP06,FKP07,FKP08,...,FKP14A,FKP15,FKP15A,FKP16,FKP17,FKP18,FKP19,FKP20,FKP21,FKP22
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,DKI JAKARTA,KOTA JAKARTA BARAT,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,BENGKULU,REJANG LEBONG,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,DKI JAKARTA,KOTA JAKARTA UTARA,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,JAWA BARAT,KOTA DEPOK,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,NUSA TENGGARA BARAT,KOTA BIMA,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT

In [24]:
df_fktp_decoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   PSTV01  1188324 non-null  int32
 1   PSTV02  1188324 non-null  int32
 2   PSTV15  1188324 non-null  float32
 3   FKP02   1188324 non-null  object
 4   FKP03   1188324 non-null  datetime64[ns]
 5   FKP04   1188324 non-null  datetime64[ns]
 6   FKP05   1188324 non-null  category
 7   FKP06   1188324 non-null  category
 8   FKP07   1188324 non-null  category
 9   FKP08   1188324 non-null  category
 10  FKP09   1188324 non-null  category
 11  FKP10   1188324 non-null  category
 12  FKP11   1188324 non-null  category
 13  FKP12   1188324 non-null  category
 14  FKP13   1188324 non-null  category
 15  FKP14   955621 non-null   category
 16  FKP14A  1188324 non-null  object
 17  FKP15   1188324 non-null  object
 18  FKP15A  1188324 non-null  object
 19  FKP16   1188324 non-null  category
 20  FKP17   1188324 non-null  category
 21  FKP18   1188324 non-null  category
 22  FKP19   1188324 non-null  category
 23  FKP20   1188324 non-null  category
 24  FKP21   1188324 non-null  category
 25  FKP22   1188324 non-null  category
dtypes: category(17), datetime64[ns](2), float32(1), int32(2), object(4)
memory usage: 90.8+ MB

In [25]:
df_fktp_decoded[['FKP14','FKP14A']]

                                                     FKP14 FKP14A
0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
...                                                    ...    ...
1188319  Z99 Dependence on enabling machines and device...    Z99
1188320  Z99 Dependence on enabling machines and device...    Z99
1188321  Z99 Dependence on enabling machines and device...    Z99
1188322  Z99 Dependence on enabling machines and device...    Z99
1188323  Z99 Dependence on enabling machines and device...    Z99

[1188324 rows x 2 columns]

In [26]:
df_fktp_decoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   PSTV01  1188324 non-null  int32
 1   PSTV02  1188324 non-null  int32
 2   PSTV15  1188324 non-null  float32
 3   FKP02   1188324 non-null  object
 4   FKP03   1188324 non-null  datetime64[ns]
 5   FKP04   1188324 non-null  datetime64[ns]
 6   FKP05   1188324 non-null  category
 7   FKP06   1188324 non-null  category
 8   FKP07   1188324 non-null  category
 9   FKP08   1188324 non-null  category
 10  FKP09   1188324 non-null  category
 11  FKP10   1188324 non-null  category
 12  FKP11   1188324 non-null  category
 13  FKP12   1188324 non-null  category
 14  FKP13   1188324 non-null  category
 15  FKP14   955621 non-null   category
 16  FKP14A  1188324 non-null  object
 17  FKP15   1188324 non-null  object
 18  FKP15A  1188324 non-null  object
 19  FKP16   1188324 non-null  category
 20  FKP17   1188324 non-null  category
 21  FKP18   1188324 non-null  category
 22  FKP19   1188324 non-null  category
 23  FKP20   1188324 non-null  category
 24  FKP21   1188324 non-null  category
 25  FKP22   1188324 non-null  category
dtypes: category(17), datetime64[ns](2), float32(1), int32(2), object(4)
memory usage: 90.8+ MB

In [27]:
df_fktp_decoded.columns = new_column_name
df_fktp_decoded.head()

,no_peserta,no_keluarga,bobot,id_kunjungan_fktp,tanggal_datang,tanggal_pulang,provinsi_fktp,kab_kota_fktp,kepemilikan_fktp,jenis_fktp,...,kode_diagnosis_ICD10,kode_diagnosis,nama_diagnosis,provinsi_fkrtl,kab_kota_fkrtl,kepemilikan_fkrtl,jenis_fkrtl,tipe_fkrtl,poli_fkrtl,jenis_kunjungan_fktp
0,12380560,12380560,13.364630,1687160334,2021-11-10,2021-11-10,DKI JAKARTA,KOTA JAKARTA BARAT,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
1,288452470,78043385,8.494392,1457720536,2021-02-26,2021-02-26,BENGKULU,REJANG LEBONG,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
2,337885189,337885189,13.472825,1732989007,2021-12-08,2021-12-08,DKI JAKARTA,KOTA JAKARTA UTARA,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
3,2783323,2783323,12.233603,1464029376,2021-03-03,2021-03-03,JAWA BARAT,KOTA DEPOK,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT
4,99122276,6688304,6.842236,1646802901,2021-09-28,2021-09-28,NUSA TENGGARA BARAT,KOTA BIMA,PEMKAB,PUSKESMAS,...,,9999,9999,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,TIDAK DIRUJUK,KUNJUNGAN SEHAT

In [28]:
df_fktp_decoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   no_peserta                 1188324 non-null  int32
 1   no_keluarga                1188324 non-null  int32
 2   bobot                      1188324 non-null  float32
 3   id_kunjungan_fktp          1188324 non-null  object
 4   tanggal_datang             1188324 non-null  datetime64[ns]
 5   tanggal_pulang             1188324 non-null  datetime64[ns]
 6   provinsi_fktp              1188324 non-null  category
 7   kab_kota_fktp              1188324 non-null  category
 8   kepemilikan_fktp           1188324 non-null  category
 9   jenis_fktp                 1188324 non-null  category
 10  tipe_fktp                  1188324 non-null  category
 11  tingkat_pelayanan          1188324 non-null  category
 12  poli_fktp                  1188324 non-null  category
 13  segmen_peserta             1188324 non-null  category
 14  status_pulang_peserta      1188324 non-null  category
 15  kode_nama_diagnosis_ICD10  955621 non-null   category
 16  kode_diagnosis_ICD10       1188324 non-null  object
 17  kode_diagnosis             1188324 non-null  object
 18  nama_diagnosis             1188324 non-null  object
 19  provinsi_fkrtl             1188324 non-null  category
 20  kab_kota_fkrtl             1188324 non-null  category
 21  kepemilikan_fkrtl          1188324 non-null  category
 22  jenis_fkrtl                1188324 non-null  category
 23  tipe_fkrtl                 1188324 non-null  category
 24  poli_fkrtl                 1188324 non-null  category
 25  jenis_kunjungan_fktp       1188324 non-null  category
dtypes: category(17), datetime64[ns](2), float32(1), int32(2), object(4)
memory usage: 90.8+ MB

In [31]:
df_fktp_decoded.isnull().sum()

no_peserta                        0
no_keluarga                       0
bobot                             0
id_kunjungan_fktp                 0
tanggal_datang                    0
tanggal_pulang                    0
provinsi_fktp                     0
kab_kota_fktp                     0
kepemilikan_fktp                  0
jenis_fktp                        0
tipe_fktp                         0
tingkat_pelayanan                 0
poli_fktp                         0
segmen_peserta                    0
status_pulang_peserta             0
kode_nama_diagnosis_ICD10    232703
kode_diagnosis_ICD10              0
kode_diagnosis                    0
nama_diagnosis                    0
provinsi_fkrtl                    0
kab_kota_fkrtl                    0
kepemilikan_fkrtl                 0
jenis_fkrtl                       0
tipe_fkrtl                        0
poli_fkrtl                        0
jenis_kunjungan_fktp              0
dtype: int64

In [32]:
df_fktp_decoded['kode_nama_diagnosis_ICD10'] = df_fktp_decoded['kode_nama_diagnosis_ICD10'].cat.add_categories(['Missing'])

In [33]:
df_fktp_decoded['kode_nama_diagnosis_ICD10'] = df_fktp_decoded['kode_nama_diagnosis_ICD10'].fillna('Missing')
df_fktp_decoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1188324 entries, 0 to 1188323
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   no_peserta                 1188324 non-null  int32
 1   no_keluarga                1188324 non-null  int32
 2   bobot                      1188324 non-null  float32
 3   id_kunjungan_fktp          1188324 non-null  object
 4   tanggal_datang             1188324 non-null  datetime64[ns]
 5   tanggal_pulang             1188324 non-null  datetime64[ns]
 6   provinsi_fktp              1188324 non-null  category
 7   kab_kota_fktp              1188324 non-null  category
 8   kepemilikan_fktp           1188324 non-null  category
 9   jenis_fktp                 1188324 non-null  category
 10  tipe_fktp                  1188324 non-null  category
 11  tingkat_pelayanan          1188324 non-null  category
 12  poli_fktp                  1188324 non-null  category
 13  segmen_peserta             1188324 non-null  category
 14  status_pulang_peserta      1188324 non-null  category
 15  kode_nama_diagnosis_ICD10  1188324 non-null  category
 16  kode_diagnosis_ICD10       1188324 non-null  object
 17  kode_diagnosis             1188324 non-null  object
 18  nama_diagnosis             1188324 non-null  object
 19  provinsi_fkrtl             1188324 non-null  category
 20  kab_kota_fkrtl             1188324 non-null  category
 21  kepemilikan_fkrtl          1188324 non-null  category
 22  jenis_fkrtl                1188324 non-null  category
 23  tipe_fkrtl                 1188324 non-null  category
 24  poli_fkrtl                 1188324 non-null  category
 25  jenis_kunjungan_fktp       1188324 non-null  category
dtypes: category(17), datetime64[ns](2), float32(1), int32(2), object(4)
memory usage: 90.8+ MB

In [41]:
df_fktp_decoded['kode_diagnosis_ICD10'] = df_fktp_decoded['kode_diagnosis_ICD10'].replace('', '999')

In [43]:
df_fktp_decoded.to_csv("../data/cleaned/fktp-decoded.csv", index=False)

# Clean FKRTL DataFrame

In [44]:
df_fkrtl.head()

,PSTV01,PSTV02,PSTV15,FKP02,FKL02,FKL03,FKL04,FKL05,FKL06,FKL07,...,FKL39,FKL40,FKL41,FKL42,FKL43,FKL44,FKL45,FKL46,FKL47,FKL48
0,50886719,50886719,12.507828,NaN,414390221V002006,2021-02-20,2021-02-20,RIAU,KOTA PEKANBARU,POLRI,...,NaN,0,NaN,NaN,0,NaN,NaN,0,184300,184300
1,70972186,6871133,13.055749,NaN,380700421V000216,2021-04-07,2021-04-08,KALIMANTAN TIMUR,KOTA SAMARINDA,TNI AD,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2578800,2578800
2,31874094,71865092,7.740489,NaN,385450421V006571,2021-04-19,2021-04-19,JAWA TENGAH,KOTA SURAKARTA,Swasta,...,NaN,0,NaN,NaN,0,NaN,NaN,0,193800,193800
3,87945875,87945875,7.734398,NaN,206900221V006045,2021-02-28,2021-03-03,ACEH,ACEH TENGAH,Pemerintah kab/kota,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2705800,2705800
4,384677503,384677503,2.777775,NaN,447120121V000468,2021-01-29,2021-02-01,SUMATERA SELATAN,KOTA PRABUMULIH,Swasta,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2174700,2174700

In [45]:
df_fkrtl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 826641 entries, 0 to 826640
Data columns (total 55 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   PSTV01  826641 non-null  int64
 1   PSTV02  826641 non-null  int64
 2   PSTV15  826641 non-null  float64
 3   FKP02   575266 non-null  object
 4   FKL02   826641 non-null  object
 5   FKL03   826641 non-null  object
 6   FKL04   826641 non-null  object
 7   FKL05   826641 non-null  object
 8   FKL06   826641 non-null  object
 9   FKL07   826641 non-null  object
 10  FKL08   826641 non-null  object
 11  FKL09   826641 non-null  object
 12  FKL10   826641 non-null  object
 13  FKL11   826641 non-null  object
 14  FKL12   826641 non-null  object
 15  FKL13   826641 non-null  object
 16  FKL14   826641 non-null  object
 17  FKL15   826641 non-null  object
 18  FKL15A  826640 non-null  object
 19  FKL16   826640 non-null  object
 20  FKL16A  826640 non-null  object
 21  FKL17   826641 non-null  object
 22  FKL17A  826641 non-null  object
 23  FKL18   826641 non-null  object
 24  FKL18A  826641 non-null  object
 25  FKL19   826641 non-null  object
 26  FKL19A  826641 non-null  object
 27  FKL20   826641 non-null  object
 28  FKL21   826641 non-null  object
 29  FKL22   826641 non-null  int64
 30  FKL23   826641 non-null  object
 31  FKL25   826641 non-null  object
 32  FKL26   826641 non-null  object
 33  FKL27   826641 non-null  object
 34  FKL28   826641 non-null  object
 35  FKL29   826641 non-null  object
 36  FKL30   421472 non-null  object
 37  FKL31   826641 non-null  object
 38  FKL32   826641 non-null  int64
 39  FKL33   4297 non-null    object
 40  FKL34   826641 non-null  int64
 41  FKL35   7415 non-null    object
 42  FKL36   3163 non-null    object
 43  FKL37   826641 non-null  int64
 44  FKL38   4386 non-null    object
 45  FKL39   96 non-null      object
 46  FKL40   826641 non-null  int64
 47  FKL41   4689 non-null    object
 48  FKL42   407 non-null     object
 49  FKL43   826641 non-null  int64
 50  FKL44   4394 non-null    object
 51  FKL45   118 non-null     object
 52  FKL46   826641 non-null  int64
 53  FKL47   826641 non-null  int64
 54  FKL48   826641 non-null  int64
dtypes: float64(1), int64(11), object(43)
memory usage: 353.2+ MB

In [46]:
new_column_name = [
    'no_peserta',
    'no_keluarga',
    'bobot',
    'id_kunjungan_fktp',
    'id_kunjungan_fkrtl',
    'tanggal_datang',
    'tanggal_pulang',
    'provinsi_fkrtl',
    'kab_kota_fkrtl',
    'kepemilikan_fkrtl',
    'jenis_fkrtl',
    'tipe_fkrtl',
    'tingkat_pelayanan',
    'poli_fkrtl',
    'segmen_peserta',
    'kelas_iuran_premi',
    'status_pulang_peserta',
    'kode_nama_diagnosis_ICD10',
    'kode_diagnosis_ICD10',
    'kode_diagnosis',
    'nama_diagnosis',
    'kode_nama_diagnosis_primer_ICD10',
    'kode_diagnosis_primer_ICD10',
    'kode_diagnosis_primer',
    'nama_diagnosis_primer',
    'kode_INACBGs',
    'deskripsi_INACBGs',
    'kode_casemix',
    'kelompok_kasus',
    'spesifikasi_kelompok_kasus',
    'tingkat_keparahan_kelompok_kasus',
    'provinsi_perujuk',
    'kab_kota_perujuk',
    'kepemilikan_perujuk',
    'jenis_perujuk',
    'tipe_perujuk',
    'jenis_prosedur',
    'tarif_regional_INACBGs',
    'group_tarif_INACBGs',
    'kode_sub_acute',
    'tarif_sub_acute',
    'kode_procedures',
    'deskripsi_procedures',
    'tarif_procedures',
    'kode_prosthesis',
    'deskripsi_prosthesis',
    'tarif_prosthesis',
    'kode_investigation',
    'deskripsi_investigation',
    'tarif_investigation',
    'kode_drugs',
    'deskripsi_drugs',
    'tarif_drugs',
    'biaya_tagih',
    'biaya_verifikasi'
]

In [47]:
df_fkrtl.columns = new_column_name
df_fkrtl.head()

,no_peserta,no_keluarga,bobot,id_kunjungan_fktp,id_kunjungan_fkrtl,tanggal_datang,tanggal_pulang,provinsi_fkrtl,kab_kota_fkrtl,kepemilikan_fkrtl,...,deskripsi_prosthesis,tarif_prosthesis,kode_investigation,deskripsi_investigation,tarif_investigation,kode_drugs,deskripsi_drugs,tarif_drugs,biaya_tagih,biaya_verifikasi
0,50886719,50886719,12.507828,NaN,414390221V002006,2021-02-20,2021-02-20,RIAU,KOTA PEKANBARU,POLRI,...,NaN,0,NaN,NaN,0,NaN,NaN,0,184300,184300
1,70972186,6871133,13.055749,NaN,380700421V000216,2021-04-07,2021-04-08,KALIMANTAN TIMUR,KOTA SAMARINDA,TNI AD,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2578800,2578800
2,31874094,71865092,7.740489,NaN,385450421V006571,2021-04-19,2021-04-19,JAWA TENGAH,KOTA SURAKARTA,Swasta,...,NaN,0,NaN,NaN,0,NaN,NaN,0,193800,193800
3,87945875,87945875,7.734398,NaN,206900221V006045,2021-02-28,2021-03-03,ACEH,ACEH TENGAH,Pemerintah kab/kota,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2705800,2705800
4,384677503,384677503,2.777775,NaN,447120121V000468,2021-01-29,2021-02-01,SUMATERA SELATAN,KOTA PRABUMULIH,Swasta,...,NaN,0,NaN,NaN,0,NaN,NaN,0,2174700,2174700

In [48]:
df_fkrtl['tanggal_datang'] = pd.to_datetime(df_fkrtl['tanggal_datang'])
df_fkrtl['tanggal_pulang'] = pd.to_datetime(df_fkrtl['tanggal_pulang'])
df_fkrtl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 826641 entries, 0 to 826640
Data columns (total 55 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   no_peserta                        826641 non-null  int64
 1   no_keluarga                       826641 non-null  int64
 2   bobot                             826641 non-null  float64
 3   id_kunjungan_fktp                 575266 non-null  object
 4   id_kunjungan_fkrtl                826641 non-null  object
 5   tanggal_datang                    826641 non-null  datetime64[ns]
 6   tanggal_pulang                    826641 non-null  datetime64[ns]
 7   provinsi_fkrtl                    826641 non-null  object
 8   kab_kota_fkrtl                    826641 non-null  object
 9   kepemilikan_fkrtl                 826641 non-null  object
 10  jenis_fkrtl                       826641 non-null  object
 11  tipe_fkrtl                        826641 non-null  object
 12  tingkat_pelayanan                 826641 non-null  object
 13  poli_fkrtl                        826641 non-null  object
 14  segmen_peserta                    826641 non-null  object
 15  kelas_iuran_premi                 826641 non-null  object
 16  status_pulang_peserta             826641 non-null  object
 17  kode_nama_diagnosis_ICD10         826641 non-null  object
 18  kode_diagnosis_ICD10              826640 non-null  object
 19  kode_diagnosis                    826640 non-null  object
 20  nama_diagnosis                    826640 non-null  object
 21  kode_nama_diagnosis_primer_ICD10  826641 non-null  object
 22  kode_diagnosis_primer_ICD10       826641 non-null  object
 23  kode_diagnosis_primer             826641 non-null  object
 24  nama_diagnosis_primer             826641 non-null  object
 25  kode_INACBGs                      826641 non-null  object
 26  deskripsi_INACBGs                 826641 non-null  object
 27  kode_casemix                      826641 non-null  object
 28  kelompok_kasus                    826641 non-null  object
 29  spesifikasi_kelompok_kasus        826641 non-null  int64
 30  tingkat_keparahan_kelompok_kasus  826641 non-null  object
 31  provinsi_perujuk                  826641 non-null  object
 32  kab_kota_perujuk                  826641 non-null  object
 33  kepemilikan_perujuk               826641 non-null  object
 34  jenis_perujuk                     826641 non-null  object
 35  tipe_perujuk                      826641 non-null  object
 36  jenis_prosedur                    421472 non-null  object
 37  tarif_regional_INACBGs            826641 non-null  object
 38  group_tarif_INACBGs               826641 non-null  int64
 39  kode_sub_acute                    4297 non-null    object
 40  tarif_sub_acute                   826641 non-null  int64
 41  kode_procedures                   7415 non-null    object
 42  deskripsi_procedures              3163 non-null    object
 43  tarif_procedures                  826641 non-null  int64
 44  kode_prosthesis                   4386 non-null    object
 45  deskripsi_prosthesis              96 non-null      object
 46  tarif_prosthesis                  826641 non-null  int64
 47  kode_investigation                4689 non-null    object
 48  deskripsi_investigation           407 non-null     object
 49  tarif_investigation               826641 non-null  int64
 50  kode_drugs                        4394 non-null    object
 51  deskripsi_drugs                   118 non-null     object
 52  tarif_drugs                       826641 non-null  int64
 53  biaya_tagih                       826641 non-null  int64
 54  biaya_verifikasi                  826641 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(11), object(41)
memory usage: 353.2+ MB

In [49]:
df_fkrtl.isna().sum()

no_peserta                               0
no_keluarga                              0
bobot                                    0
id_kunjungan_fktp                   251375
id_kunjungan_fkrtl                       0
tanggal_datang                           0
tanggal_pulang                           0
provinsi_fkrtl                           0
kab_kota_fkrtl                           0
kepemilikan_fkrtl                        0
jenis_fkrtl                              0
tipe_fkrtl                               0
tingkat_pelayanan                        0
poli_fkrtl                               0
segmen_peserta                           0
kelas_iuran_premi                        0
status_pulang_peserta                    0
kode_nama_diagnosis_ICD10                0
kode_diagnosis_ICD10                     1
kode_diagnosis                           1
nama_diagnosis                           1
kode_nama_diagnosis_primer_ICD10         0
kode_diagnosis_primer_ICD10              0
kode_diagnosis_primer                    0
nama_diagnosis_primer                    0
kode_INACBGs                             0
deskripsi_INACBGs                        0
kode_casemix                             0
kelompok_kasus                           0
spesifikasi_kelompok_kasus               0
tingkat_keparahan_kelompok_kasus         0
provinsi_perujuk                         0
kab_kota_perujuk                         0
kepemilikan_perujuk                      0
jenis_perujuk                            0
tipe_perujuk                             0
jenis_prosedur                      405169
tarif_regional_INACBGs                   0
group_tarif_INACBGs                      0
kode_sub_acute                      822344
tarif_sub_acute                          0
kode_procedures                     819226
deskripsi_procedures                823478
tarif_procedures                         0
kode_prosthesis                     822255
deskripsi_prosthesis                826545
tarif_prosthesis                         0
kode_investigation                  821952
deskripsi_investigation             826234
tarif_investigation                      0
kode_drugs                          822247
deskripsi_drugs                     826523
tarif_drugs                              0
biaya_tagih                              0
biaya_verifikasi                         0
dtype: int64

In [50]:
df_fkrtl['id_kunjungan_fktp'] = df_fkrtl['id_kunjungan_fktp'].fillna('Tidak ada')
df_fkrtl['jenis_prosedur'] = df_fkrtl['jenis_prosedur'].fillna('Missing')
df_fkrtl['kode_sub_acute'] = df_fkrtl['kode_sub_acute'].fillna('Tidak ada')
df_fkrtl['kode_procedures'] = df_fkrtl['kode_procedures'].fillna('Tidak ada')
df_fkrtl['deskripsi_procedures'] = df_fkrtl['deskripsi_procedures'].fillna('Tidak ada')
df_fkrtl['kode_prosthesis'] = df_fkrtl['kode_prosthesis'].fillna('Tidak ada')
df_fkrtl['deskripsi_prosthesis'] = df_fkrtl['deskripsi_prosthesis'].fillna('Tidak ada')
df_fkrtl['kode_investigation'] = df_fkrtl['kode_investigation'].fillna('Tidak ada')
df_fkrtl['deskripsi_investigation'] = df_fkrtl['deskripsi_investigation'].fillna('Tidak ada')
df_fkrtl['kode_drugs'] = df_fkrtl['kode_drugs'].fillna('Tidak ada')
df_fkrtl['deskripsi_drugs'] = df_fkrtl['deskripsi_drugs'].fillna('Tidak ada')
df_fkrtl.isna().sum()

no_peserta                          0
no_keluarga                         0
bobot                               0
id_kunjungan_fktp                   0
id_kunjungan_fkrtl                  0
tanggal_datang                      0
tanggal_pulang                      0
provinsi_fkrtl                      0
kab_kota_fkrtl                      0
kepemilikan_fkrtl                   0
jenis_fkrtl                         0
tipe_fkrtl                          0
tingkat_pelayanan                   0
poli_fkrtl                          0
segmen_peserta                      0
kelas_iuran_premi                   0
status_pulang_peserta               0
kode_nama_diagnosis_ICD10           0
kode_diagnosis_ICD10                1
kode_diagnosis                      1
nama_diagnosis                      1
kode_nama_diagnosis_primer_ICD10    0
kode_diagnosis_primer_ICD10         0
kode_diagnosis_primer               0
nama_diagnosis_primer               0
kode_INACBGs                        0
deskripsi_INACBGs                   0
kode_casemix                        0
kelompok_kasus                      0
spesifikasi_kelompok_kasus          0
tingkat_keparahan_kelompok_kasus    0
provinsi_perujuk                    0
kab_kota_perujuk                    0
kepemilikan_perujuk                 0
jenis_perujuk                       0
tipe_perujuk                        0
jenis_prosedur                      0
tarif_regional_INACBGs              0
group_tarif_INACBGs                 0
kode_sub_acute                      0
tarif_sub_acute                     0
kode_procedures                     0
deskripsi_procedures                0
tarif_procedures                    0
kode_prosthesis                     0
deskripsi_prosthesis                0
tarif_prosthesis                    0
kode_investigation                  0
deskripsi_investigation             0
tarif_investigation                 0
kode_drugs                          0
deskripsi_drugs                     0
tarif_drugs                         0
biaya_tagih                         0
biaya_verifikasi                    0
dtype: int64

In [51]:
df_fkrtl.to_csv("../data/cleaned/fkrtl.csv", index=False)